BatchLayer/Connected Services/SpeedServiceReference/SpeedService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpeedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8092/speedservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8092/speedservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8092/speedservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpeedService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISpeedService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISpeedService_HandleNewSale_InputMessage">
    <wsdl:part name="parameters" element="tns:HandleNewSale" />
  </wsdl:message>
  <wsdl:message name="ISpeedService_HandleNewSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandleNewSaleResponse" />
  </wsdl:message>
  <wsdl:message name="ISpeedService_ExpireSalesRealtimeView_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpireSalesRealtimeView" />
  </wsdl:message>
  <wsdl:message name="ISpeedService_ExpireSalesRealtimeView_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExpireSalesRealtimeViewResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpeedService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsam:Action="http://tempuri.org/ISpeedService/DoWork" message="tns:ISpeedService_DoWork_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpeedService/DoWorkResponse" message="tns:ISpeedService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandleNewSale">
      <wsdl:input wsam:Action="http://tempuri.org/ISpeedService/HandleNewSale" message="tns:ISpeedService_HandleNewSale_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpeedService/HandleNewSaleResponse" message="tns:ISpeedService_HandleNewSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpireSalesRealtimeView">
      <wsdl:input wsam:Action="http://tempuri.org/ISpeedService/ExpireSalesRealtimeView" message="tns:ISpeedService_ExpireSalesRealtimeView_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpeedService/ExpireSalesRealtimeViewResponse" message="tns:ISpeedService_ExpireSalesRealtimeView_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpeedService" type="tns:ISpeedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISpeedService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandleNewSale">
      <soap:operation soapAction="http://tempuri.org/ISpeedService/HandleNewSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpireSalesRealtimeView">
      <soap:operation soapAction="http://tempuri.org/ISpeedService/ExpireSalesRealtimeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpeedService">
    <wsdl:port name="BasicHttpBinding_ISpeedService" binding="tns:BasicHttpBinding_ISpeedService">
      <soap:address location="http://localhost:8092/speedservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>